{block title}
	{$site->title}
{/block}
{block content}
	{!$site->content}
{if $map->map_url}
<div class="text-center center-block">
	<iframe src="{$map->map_url}" width="768" height="600" frameborder="0" style="border:0; margin: auto;" allowfullscreen class="visible-lg-block"></iframe><br/>
	<small>
		<a href="{$map->map_url}" target="_blank">
			Zobrazit místo účetnictví Himlarová na větší mapě
		</a>
	</small>
</div>
{/if}
