{redefine #row-actions}
	<a href="{plink Users:detail, $row->id}" class="btn btn-primary btn-xs">Detail</a>
	{if $row->id != $user->id}
		<a href="{plink Users:delete, $row->id}" title="Smazat uživatele" data-confirm="Opravdu smazat?" class="btn btn-danger btn-xs">Smazat</a>
	{/if}
{/redefine}

{redefine cell-id}
	<a href="{plink Users:detail, $row->id}">{$row->id}</a>
{/redefine}

{redefine cell-role}
	{$row->roles->title}
{/redefine}

{redefine cell-email}
	{if $row->email}
		{$row->email}
	{else}
		-- NEVYPLNĚNO --
	{/if}
{/redefine}

{redefine cell-public}
	{if $row->public}ANO{else}NE{/if}
{/redefine}

{redefine cell-name}
	{$row->name} {$row->surname}
{/redefine}
