{block content}
<h2 n:inner-block="title">Administrace</h2>

<hr />
	<a n:href="Homepage:other" class="btn btn-default">Stránky</a> - Jednoduchá úprava webových stránek
<hr />
	<a n:href="Users:" class="btn btn-danger">Uživatelé</a> - Jednoduchá správa administrátorských účtů
