body {
	background-color: #eee;
}
.container > .jumbotron_page {
	box-shadow: #223d65 1px 1px 10px;
	background-color: white;
}
header {
	padding: 50px;
}
.page-header > .badge {
    width: 400px;
    height: 162px;
    margin: auto;
    background-color: #afd9ee;
    color: #000000;
    /*box-shadow: #003366 2px 2px 5px;*/
	padding: inherit;
}
.logo {
    background-image : url('../images/logo.png');
	background-color: white;
    text-align: center;
    margin: auto;
    border: none;
    width: 400px;
    height: 162px;
}
.container > .jumbotron_page > .container-fluid {
	border-radius: 0px;
	border: 1px;
	border-style: solid;
	border-right: none;
	border-left: none;
	border-color: #afd9ee;
	padding: 30px;
	padding-bottom: 50px;
}
.table {
    background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border-color: #afd9ee;
	border-bottom-color: white;
	background-color: #fff;
}
.nav-tabs {
	border: none;
	margin-top: 45px;
}
.page-header {
    border: none;
}
footer {
	background-color: #3f5575;
	color: white;
}
footer > p > a {
	color: #fff;
}
footer > p > a:hover,
footer > p > a:focus {
	color: #7bbae0;
}
footer > p {
	text-align: center;
	padding: 20px;
}
